.Main {
  width: 50%;
  margin: 5rem auto;
}

.Main-chart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.Main-bar-chart {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .Main {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .Main {
    width: 100%;
  }
}
