.Main {
  width: 50%;
  height: 500px;
  margin: 5rem auto;
}

.Main-chart {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-primary);
  padding: 2rem;
  
}

@media screen and (max-width: 500px) {
  .Main{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .Main{
    width: 100%;
  }
}
