.Main {
  width: 50%;
  margin: 5rem auto;
}

.Main-chart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Main-bar-chart {
  width: 40%;
}

.Main-pie-chart {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main-income,
.Main-expenditure,
.Main-saving {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Main-pie {
  width: 50%;
  height: 80%;
}
.Main-details {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  font-weight: bolder;
}

.Main-income-label {
  width: 3rem;
  height: 3rem;
  background-color: rgb(54, 162, 235);
}

.Main-expenditure-label {
  width: 3rem;
  height: 3rem;
  background-color: rgb(255, 99, 132);
  margin-left: 1rem;
}

.Main-saving-label {
  width: 3rem;
  height: 3rem;
  background-color: rgb(255, 205, 86);
  margin-left: 1rem;
}

@media screen and (max-width: 1024px) {
  .Main {
    width: 100%;
  }

  .Main-chart {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .Main-bar-chart {
    width: 100%;
  }

  .Main-pie-chart {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .Main {
    width: 100%;
  }

  .Main-chart {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .Main-bar-chart {
    width: 100%;
  }

  .Main-pie-chart {
    width: 100%;
  }

  .Main-pie {
    width: 100%;
    height: 80%;
  }

  .Main-details {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-weight: bolder;
  }
}
